* {
  margin: 0;
  padding: 0;
}

.logotext {
        padding: 50px 0 50px 50px;
        color: white;
    
}


.header {
        background-color: #445162;
        height: 325px;
        width: 1280px;

}


ul{
    list-style: none;
}
ul > li{
    padding-left: 20px;
    position: relative;
    margin: 10px;
    font-family: Arial;
	font-size: 20px;
}

ul > li:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: white;
}

.logotext img {
	float: right;
	padding: 0 50px 50px 50px;
}

.logotext h1 {
	font-family: Arial, sans-serif;
	font-size: 50px;
    margin-bottom: 50px;
 }

 .about {
    background-color: #ffffff;
        height: 325px;
        width: 1280px;
 }

 .logotext1 img {
    float: right;
    padding: 0 50px 50px 50px;
}


.logotext1 h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 50px 0 0 50px;
    color: #445161;
 }

 .about p {
    margin: 30px 100px 0 50px;
    font-family: Arial;
    font-size: 16px;
 }

 .digniti {
     background-color: #f5f5f5;
        height: 420px;
        width: 1280px; 
 }

.digniti h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    color: #445161;
}

 .digniti img {
    width: 36px;
    height: 36px;
    margin: 0 0 40px 10px;
 }

 .plus {
    margin: 30px 50px 50px 50px;
    font-family: Arial;
    font-size: 16px;
    color: #333333;
 }
 .skrinshot {
       background-color: #ffffff;
        height: 245px;
        width: 1280px;
 }

.skrinshot h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    color: #445161;
} 

.description_all {
    height: 245px;
    width: 1280px;
    display:flex;
}

.description_one img {
    width: 200px;
    height: 150px;
    margin: 30px 15px 25px 50px;
    float: left;
}

.description_two img {
    width: 200px;
    height: 150px;
    margin: 30px 15px 25px 50px;
    float: left;
}
.text_one {
    margin: 30px 15px 25px 50px;
    font-family: Arial;
    font-size: 16px;
    color: #333333;

}

.text_one h1{
  font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #445161;  
}

.text_two {
    margin: 30px 15px 25px 50px;
    font-family: Arial;
    font-size: 16px;
    color: #333333;

}

.text_two h1{
  font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #445161;  
}

.reviews {
     background-color: #f5f5f5;
        height: 420px;
        width: 1280px; 
        
 }

 .reviews h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    color: #445161;
 }

 .reviews_all {
    height: 120px;
    width: 1280px;
    display:flex;
 }

 .reviews_all img{
    border-radius: 50%;
    width: 77px;
    height:77px;
    margin-top: 30px;
    margin-left: 30px;
 }

 .coment{ 
   position: relative;
    background: #ebebeb;
    width: 1280px;
    height: 73px;
    margin: 15px 20px 15px 30px;
    padding: 15px;
 
  }

  .reviews_one {
    
    font-family: Arial;
    font-size: 16px;
    color: #333333;
  }

  .reviews_two {
   
    font-family: Arial;
    font-size: 16px;
    color: #333333;
  }

  .coment:after, before {
 right: 100%;
 border: solid transparent;
 content: " ";
 height: 0;
 width:0;
 position: absolute;
 pointer-events: none;
}

.coment:after {
 border-color: rgba(255, 255, 255, 0);
 border-right-color: #ebebeb;
 border-width: 18px;
 top: 25%;
 margin-top: -18px;
}

.coment:before {
 border-color: rgba(125, 145, 133, 0);
 border-right-color: #ebebeb;
 border-width: 19px;
 top: 50%;
 margin-top: -19px;
}


.buy_it {
    background-color: #ffffff;
        height: 660px;
        width: 1280px;
}

.buy_it h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    color: #445161;
}

.table1 {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    align-content: space-around;
    justify-content: center;
    width: 1280px;
    max-width: 1280px;
    height: auto;
    margin-top: 50px;
}

.table1_1 {
  flex-grow: 1;
  display: block;
  height: 310px;
  margin: 0 50px;
  width: auto;
  flex: 0 0 300px;
  background-color: #445162;
  margin-bottom: 50px;
}

.table1_2 {
    height: 410px;
    width: 300px;
    background-color: #445162;
    margin-bottom: 50px;
}

.table1_3 {
  height: 510px;
  width: 300px; 
  background-color: #445162;
  margin-left: 50px;
  margin-bottom: 50px;
  
}

.table1 h1 {
   font-family: Arial, sans-serif;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    color: white; 
}



.table1 li {
  font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    color: white;   
}

.price {
    display: block;
    background-color: white;
    width: 290px;
    height: 70px;
    margin: 5px;
}

.buy {
    display: block;
    background-color: white;
    width: 260px;
    height: 40px;
    border-radius: 2px;
    margin: 20px;
    margin-top: 20px;

}

.price p {
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    color: #445162; 
    align-items: center
}

.buy p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    color: #445162; 
    align-items: center;
}

.contacts {
        background-color: #445162;
        height: 510px;
        width: 1280px;
}

.contacts h1 {
     font-family: Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}

.send {
  display: block;  
  margin-bottom: 4%;
  flex-direction: column;
}

.send input[type="text"], textarea {
  border: solid 1px #C3C3C3;
  margin-bottom: 2%;
  height: 350px;
}

.send input[type="text"]{
  width: 500px;
  height: 40px;
  margin: 0px 40px 20px 20%;

}

.send textarea {
  width: 500px;
  height: 200px;
  margin: 0px 40px 20px 20%;
}

.send_contact input[type="text"] {
  width: 500px;
}

.send_contact textarea {
  width: 516px;
}

.send input[type="submit"]{
  background-color: white;
  color: #445162;
  border-radius: 5px;
  margin: 0px 0px 50px 430px;
  width: 140px;
  height: 40px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-align: center;
}

.send p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    color: white; 
    align-items: center;
}

.end
{
    background-color: red;
    height: 30px;
    width: 1280px;

}

.end p {
font-family: Arial, sans-serif;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    color: #bbbec3; 
    align-items: center;
}
